body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0%;
}
/* Outer div containing main-header div and 'main' div */
#container{
    background-image:  linear-gradient(to bottom, rgba(161, 168, 207, 0.52), rgba(117, 19, 93, 0.73)),url("https://images.pexels.com/photos/376368/pexels-photo-376368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 100% 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 30px;
    position: relative;
}

/* Common Class for all section headings */
.section-heading{
    padding-top: 5px;
    font-size: 1rem;
    margin: 0;
    padding-left: 1px;
}

/* Inner main div containing form */
#main {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Heading */

#main-header {
    position: sticky;
    text-align: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 30px;
    justify-content: space-between;
}

#main-header img {
    width: 100vw;
    height: 50vh;
}

#main-header #title{
    letter-spacing: 15px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Josefin Sans",sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: whitesmoke;
}

/* App tag line */
#main-header #tag-line{
    font-family: "Josefin Sans",sans-serif;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 5px;
    padding-right: 9px;
}

/*Decription div*/
#description-container {
    width: auto;
    padding: 10px;
    font-family: Cambria, 'Times New Roman', serif;
    border-bottom: 1px solid lightgrey;
}

#description-container input{
    display: block;
    border: 0;
    font-size: 0.9rem;
}
/* to remove the border of input on being focus */
#description-container input:focus{
    outline: none;
}

#description-container p {
    font-size: 1rem;
    padding-left: 2px;
    margin: 2px 0;
}

#form-description {
    width: 95%;
    opacity: 0.5;
}

#description-container:hover{
    background-color: #f8f1f1;
}
/* ------------------------------------------------ */
#category-duedate-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: Cambria, 'Times New Roman', serif;
    height: auto;
}

#category-container {
    width: 50%;
    padding: 9px;
    border-right: 1px solid lightgrey;
}

#category-container select:focus{
    outline: none;
}
#due-date-container {
    width: 50%;
    padding: 9px;
    padding-left: 10px;
}
#due-date-container .section-heading{
    padding-left: 1px;
}

#category-container select{
    cursor: pointer;
}

#date-box:focus{
    outline: none;
}

#category-container:hover{
    background-color: #f8f1f1;
}

#due-date-container:hover{
    background-color: #f8f1f1;
}

#choose{
    font-weight: bold;
    opacity:0.4;
}

/* Dropdown list for category*/
select {
    width: 100%;
    border: 0;
    font-family: Cambria, 'Times New Roman', serif;
    font-size: 1rem;
    background-color: transparent;
    opacity: 0.6;
}


#date-box {
    border: 0;
    font-family: Cambria, 'Times New Roman', serif;
    background-color: transparent;
    opacity: 0.4;
    font-size: 1rem;
    width: 90%;

}



/* Button*/

#buttons-container {
    display: flex;
    border-top: 1px solid lightgrey;
    justify-content: center;
    padding: 25px;
}

/* Add Button */
#add {

    color: #28a745;
    border: 1px solid #28a745;
    background-color: transparent;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 11px 20px;
    border-radius: 0.25rem;
}

/* Delete Button */
#delete-button {
    color: #dc3545;
    background-color: transparent;
    border: 1px solid #dc3545;
    border-radius: 0.25rem;
    line-height: 1.5;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 11px 8px;
    margin-right: 3px;
}

/* Button Hover */

#add:hover {
    background-color: #28a745;
    color: #fff;
    
}

#delete-button:hover {
    background-color: #dc3545;
    color: #fff;
}


/* TODO List Objects*/
#task {
    display: flex;
    width: 94%;
    flex-direction: row; 
    margin: auto;
    border-top: 1px solid lightgrey;
    padding: 15px 0;
    justify-content: space-evenly;
}


/*hover effects  */
#task:hover{
    background-color: #f8f1f1;
}


/* Category Box */
#task-category {
    text-align: center;
    background: linear-gradient(90deg, rgba(62,38,178,1) 0%, rgba(183,69,219,1) 86%);
    color:white;
    height: 18px;
    width: 70px;
    padding: 15px 10px 10px 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border:2px;
}

/* Delete symbol*/
#remove-task{
    font-size: 1.2rem;
    padding: 10px 0;
}

#remove-task a {
    color: grey;
}

#remove-task a:hover {
    color: #dc3545;
}

/* Checkbox */
input#check-box {
    width: 15px;
    height: 15px;
    margin: 3px 10px 0 0;
    cursor: pointer;
}


/* Task Description */
#task-description {
    color: #5c5b5b;
    font-size: 1rem;
}

/* Task Due Date*/
#task-date {
    color: rgb(179, 201, 212);
    font-size: 0.7rem;
}



/* Media queries */
@media only screen and (max-width: 600px){
    #task-category{
        padding: 10px;
        margin: 10px 0 0 0;
    }
    #task-description{
        display: block;
        padding-top: 10px;
        text-align: center;
    }
    #task{
        padding: 5px 10px;
        align-items: center;
        width: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px) {
    #category-duedate-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #due-date-container{
        width: auto
    }
    #category-container{
        width: auto;
        border-right: none;
        border-bottom: 1px solid lightgrey;
    }
    #main{
        width: 90%;
    }
    #container{
        width: 100%;
        padding: 0px;
    }
    #category-container select{
        width: auto;
    }
    
}

/* Footer section */

#main-footer{
    width: 100%;
    left: 0;
    bottom: 5px;
    position: relative;
}


#main-footer span{
  color: gray;
  margin-top: 25px;
  font-size: 12px;
  display: block;
  text-align: center;
}


/* Heart Icon */
#main-footer .fa{
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
}

/* Animation for heart */
@-webkit-keyframes pound{
  to{
    transform: scale(1.1);
  }

}
@keyframes pound{
  to{
    transform: scale(1.1);
  }
}